.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(to bottom, rgba(0,0,0, .5), rgba(0,0,0, .5)), url('./assets/img/cbmbackground.svg') no-repeat; 
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.App-header p {
  
}

.App-link {
  color: #61dafb;
}

.b {
  display: flex;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  border: 5px solid red;
}

.container p {
  border: 5px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
