.Card {
    padding: 17px;
    background-color: "#ff0000";
    display: inline-block;
    min-height: 30vh;
    color: black;
}
.Card-header {
    font-weight: bold;
    font-size: 2.5rem;
}

.Card-body {
    font-size: 2rem;
}

.Card-footer {
    font-size: 1.8rem;
}

.b {
    border: 10px solid purple;
}